ul {
    list-style-type:none;
    margin:0;
    padding-left:17px;
    background-color:#FFFFFF;
}

li.cursor-sort {
    cursor:all-scroll;
}

li.list-group-item {
    
}
.formWrap {
    margin-bottom:10px;
}

